:root {
  --body-color: #ffffff;
  --title-color: #222222;
  --bg-hover: #f7f7f7;
  --subtitle-color: #42526b;
}

.modal {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: var(--body-color);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: slide;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal .close-button {
  background-color: transparent;
  padding: 8px;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -16px;
}

.modal .close-button::before {
  content: "";
  position: absolute;
  display: block;
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.modal .close-button:hover::before {
  background-color: var(--bg-hover);
}

.modal .close-button svg path {
  stroke: var(--title-color);
}

.modal-header {
  position: relative;
  min-height: 40px;
  border-bottom: 1px solid var(--bg-hover);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.modal-body {
  padding: 24px;
  padding-top: 10px;
}

.modal-title {
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 30px;
  color: var(--title-color);
}

.modal-subtitle {
  font-size: 15px;
  margin-bottom: 24px;
  line-height: 30px;
  color: var(--subtitle-color);
}
