@import "../css/normalize.css";
@import "../css/fonts.css";
@import "../css/forms.css";
@import "../css/modal.css";

body {
  font-family: "Messina Sans", sans-serif;
  margin: 0;
  color: #222222;
  position: relative;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.btn {
  display: block;
  min-height: 40px;
  font-family: "Messina Sans", sans-serif;
  font-weight: 600;
  padding: 10px 24px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  background: #6aaa98;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: #649e8e;
}

.btn-connect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 23px;
  font-weight: 400;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
